/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #2195ab; /* CILFA ORIG: color: #6e6470; */
	background-color: #f8f7f8;
}

h1 {
	color: #2195ab; /* CILFA ORIG: color: #FFF; */
}

h2 {
	color: #2195ab; /* CILFA ORIG: color: #363036; */
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #694061;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #0b3038; } /* CILFA ORIG color: #5f3a5a; */
a:hover { color: #53285d; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #FFFFFF;
	padding-left: 4px; /* CILFA ADDED */
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #e1c6de;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	border-bottom-color: #9b6d95;
	color: #9b6d95;
}

.postlink:visited {
	border-bottom-color: #9b7f97;
	color: #9b7f97;
}

.postlink:hover {
	background-color: #e9dde7;
	color: #4f314b;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #9b6d95;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #FFF;
	border-color: #ebe8ea;
}

.headerbar {
	color: #FFFFFF;
	background-color: #fff;
}

.headerbar, .forumbg {
	/* CILFA: */
	background-color: #2195ab; 
	background-repeat: repeat-x;
}

.forabg {
	background-color: #2195ab; /* CILFA ORIG: #733e73 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7fff5+0,15dcff+11,2195ab+65,008299+100;Borstvoedingsforum+1 */
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 100%);
	
	/* CILFA TMP Disabled 9-3-2019
	background-image: -webkit-linear-gradient(top, #cb9ecb 0%, #733e73 2px, #9f5e9f 92px, #9f5e9f 100%);
	background-image: linear-gradient(to bottom, #cb9ecb 0%,#733e73 2px,#9f5e9f 92px,#9f5e9f 100%);	
	background-repeat: repeat-x;
	*/
	border-color: #ebebeb;
}

.navbar {
	/* CILFA ORIG: background-color: #dfd6de; */
}

.panel {
	background-color: #f0eef1;
	color: #363036;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1 {
	background-color: #fff; /* CILFA ORIG: background-color: #f3f0f3; later #fffaeb*/
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #fffaeb; /* CILFA ORIG: background-color: #f3f0f3; */
}

.bg2 {
	background-color: #fff; /* CILFA ORIG: background-color: #ece7ec; later #fff5d8 */ 
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #fff5d8; /* CILFA ORIG: background-color: #ece7ec; */
}

.bg3	{
	background-color: #dfd6de;
}

.ucprowbg {
	background-color: #dfdee0;
}

.fieldsbg {
	background-color: #e9e8e9;
}

.site_logo {
	background-image: url("./images/logo_HD.png"); /* CILFA ORIG: ... .gif */
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #c3c3cc;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #e8dde6;
	color: #000;
}

table.table1 td {
	color: #6e6470;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #6e6470;
}

.sep {
	color: #935793;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #7e5078;
}

.icon.icon-green, a:hover .icon.icon-green{
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red{
	color: #502f57;
}

.icon.icon-orange, a:hover .icon.icon-orange{
	color: #dd7f5d;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray{
	color: #6e6470;
}

.icon.icon-gray, a:hover .icon.icon-gray{
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray{
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black{
	color: #333333;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #CCCCCC;
}

.jumpbox-cat-link {
	background-color: #733e73;
	border-top-color: #733e73;
	color: #FFFFFF;
}

.jumpbox-cat-link:hover {
	background-color: #9f5e9f;
	border-top-color: #9f5e9f;
	color: #FFFFFF;
}

.jumpbox-forum-link {
	background-color: #ece7ec;
}

.jumpbox-forum-link:hover {
	background-color: #f6eff6;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #ece7ec transparent;
}

.jumpbox-sub-link {
	background-color: #ece7ec;
}

.jumpbox-sub-link:hover {
	background-color: #faf6f9;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #502f57;
}

.reported {
	background-color: #d7db97; /* CILFA ORIG:#9976a2, GEEL: FCF2E8 F9E8E8 */
}

li.reported:hover {
	background-color: #fcb5ba !important; /* CILFA ORIG: #966c98 */
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #F9E8E8; /* CILFA ORIG: #966c98 */
	color: #502f57;
}

p.post-notice {
	background-color: #F9E8E8; /* CILFA ORIG: #966c98 */
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

/* CILFA EDIT VOOR DV - orig color: #f5f2f5 */

ul.forums {
	/* background-color: #e2dbe1;*/ /* Old browsers */ /* FF3.6+ */
	/* background-image: -webkit-linear-gradient(top, #e2dbe1 0%, #eadaea 50%);*/
	/* background-image: linear-gradient(to bottom, #e2dbe1 0%,#eadaea 50%);*/ /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dbe1', endColorstr='#eadaea',GradientType=0 ); *//* IE6-9 */
	/*CILFA REMOVED 9-3-2019
	background: #eadaea;
	background: -moz-linear-gradient(top, #eadaea 0%, #f5f2f5 75%);
	background: -webkit-linear-gradient(top, #eadaea 0%,#f5f2f5 75%);
	background: linear-gradient(to bottom, #eadaea 0%,#f5f2f5 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadaea', endColorstr='#f5f2f5',GradientType=0 );
	*/
	background: #fff;
}

ul.topiclist li {
	color: #675b65;
}

ul.topiclist dd {
	border-left-color: #FFFFFF;
}

.rtl ul.topiclist dd {
	border-right-color: #FFFFFF;
	border-left-color: transparent;
}

li.row {
	border-top-color:  #FFFFFF;
	/* CILFA ORIG: border-bottom-color: #5d325d; */
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #f6eff6;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2, .panel h2 {
	color: #694061;
	border-bottom-color:  #CCCCCC;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #9755a6;
	color: #502f57;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EAEAEA; /* CILFA ORIG: #f4f1f4 */
	border-color:#DDD; /* CILFA ORIG: #edeaed */
}

blockquote:before {
  top: 5px;
  left: auto;
  right: 10px;
  font-size: 2em;
  color: rgba(68, 68, 68, 0);
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#DADADA; /* CILFA ORIG: #f5f1f5 */
	border-color:#DDD;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EAEAEA; /* CILFA ORIG: #f4f1f4 */
	border-color:#DDD;
}

blockquote blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #DADADA; /* CILFA ORIG: #f4f1f4 */
	border-color:#DDD;
}

blockquote blockquote blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EAEAEA; /* CILFA ORIG: #f4f1f4 */
	border-color:#DDD;
}

blockquote blockquote blockquote blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #DADADA; /* CILFA ORIG: #f4f1f4 */
	border-color:#DDD;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #d3ced2;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #d3ced2;
}

.pm-message .attachbox {
	background-color: #f2f2f3;
}

.attachbox dd {
	border-top-color: #d3ced2;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #9b6d95;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #dfdee0;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #47294e;
	border-bottom-color: #311b35;
	border-right-color: #311b35;
}

.rtl .pollbar1 {
	border-left-color: #311b35;
}

.pollbar2 {
	background-color: #4d2a56;
	border-bottom-color: #3a2140;
	border-right-color: #3a2140;
}

.rtl .pollbar2 {
	border-left-color: #3a2140;
}

.pollbar3 {
	background-color: #522b5d;
	border-bottom-color: #47294e;
	border-right-color: #47294e;
}

.rtl .pollbar3 {
	border-left-color: #47294e;
}

.pollbar4 {
	background-color: #582c65;
	border-bottom-color: #4d2a56;
	border-right-color: #4d2a56;
}

.rtl .pollbar4 {
	border-left-color: #4d2a56;
}

.pollbar5 {
	background-color: #5f2b6f;
	border-bottom-color: #522b5d;
	border-right-color: #522b5d;
}

.rtl .pollbar5 {
	border-left-color: #522b5d;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-color: #FFFFFF;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #502f57;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #d8d6d5;
	background-color: #E9E9E9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E9E9E9 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 0 1px #FFFFFF inset;
	-webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
	color: #53285d;
}

.button:hover,
.button:focus {
	border-color: #8b4f8b;
	background-color: #FFFFFF; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #E9E9E9 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #E9E9E9 0%,#FFFFFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(80, 47, 87,  0.2);
}


.button .icon,
.button-secondary {
	color: #8f8f8f;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #8b4f8b;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #d8d6d5;
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: #d8d6d5; }

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #f7f4f6; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #ededed;
	filter: none;
	border-color: #bcb8bb;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #7b6d79;
}

.pagination li.ellipsis span {
	background: transparent;
	color:	#000000;
}

.pagination li.active span {
	background: #957093;
	border-color: #957093;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #9b6d95;
	border-color: #9b6d95;
	filter: none;
	color: #FFFFFF;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: 2E1536; /* CILFA ORIG: #d8d6d5 */
}

.search-header {
	box-shadow: 0 0 10px #723e72;
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); /* CILFA ORIG: ... .gif */}
.global_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); /* CILFA ORIG: ... .gif */}
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); /* CILFA ORIG: ... .gif */ }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); /* CILFA ORIG: ... .gif */ }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("./images/announce_read.png"); /* CILFA ORIG: ... .gif */ }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); /* CILFA ORIG: ... .gif */ }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); /* CILFA ORIG: ... .gif */ }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); /* CILFA ORIG: ... .gif */ }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link							{ background-image: url("./images/forum_link.png"); /* CILFA ORIG: ... .gif */ }
.forum_read							{ background-image: url("./images/forum_read.png"); /* CILFA ORIG: ... .gif */ }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); /* CILFA ORIG: ... .gif */ }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); /* CILFA ORIG: ... .gif */ }
.forum_unread						{ background-image: url("./images/forum_unread.png"); /* CILFA ORIG: ... .gif */ }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); /* CILFA ORIG: ... .gif */ }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); /* CILFA ORIG: ... .gif */ }

.sticky_read						{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); /* CILFA ORIG: ... .gif */ }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); /* CILFA ORIG: ... .gif */ }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); /* CILFA ORIG: ... .gif */ }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); /* CILFA ORIG: ... .gif */ }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); /* CILFA ORIG: ... .gif */ }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); /* CILFA ORIG: ... .gif */ }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); /* CILFA ORIG: ... .gif */ }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); /* CILFA ORIG: ... .gif */ }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); /* CILFA ORIG: ... .gif */ }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); /* CILFA ORIG: ... .gif */ }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); /* CILFA ORIG: ... .gif */ }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); /* CILFA ORIG: ... .gif */ }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); /* CILFA ORIG: ... .gif */ }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #b6adb5;
}

.panel-container .panel li.row {
	border-bottom-color: #c3bdc3;
	border-top-color: #F9F9F9;
}

ul.cplist {
	border-top-color: #c3bdc3;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #000000;
}

.panel-container table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

.cp-main .pm-message {
	border-color: #e0dddf;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #cec5cd;
	color: #6e6470;
}

.tabs .tab > a:hover {
	background: #f1e8ef;
	color: #53285d;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #dfd6de; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #f5ecf4 0%, #dfd6de 100%);
	background-image: linear-gradient(to bottom, #f5ecf4 0%,#dfd6de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ecf4', endColorstr='#dfd6de',GradientType=0 ); /* IE6-9 */
	border-color: #dfd6de;
	box-shadow: 0 1px 1px #faf7fa inset;
	color: #333333;
}

.tabs .activetab > a:hover {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #ece7ec;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #6e6470;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #53285d;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #333;
	background: #dfd6de; /* Old browsers */ /* FF3.6+ */
	background: -webkit-linear-gradient(left, #c7bec6 50%, #dfd6de 100%);
	background: linear-gradient(to right, #c7bec6 50%,#dfd6de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7bec6', endColorstr='#dfd6de',GradientType=1 ); /* IE6-9 */
}

.rtl .navigation a {
	background: #c7bec6; /* Old browsers */ /* FF3.6+ */
	background: -webkit-linear-gradient(left, #dfd6de 50%, #c7bec6 100%);
	background: linear-gradient(to right, #dfd6de 50%,#c7bec6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfd6de', endColorstr='#c7bec6',GradientType=1 ); /* IE6-9 */
}

.navigation a:hover {
	background: #bcb4bb;
	color: #502f57;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a {
	background: #F9F9F9;
	color: #53285d;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a:hover {
	color: #53285d;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #c5bcc4;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #F9F9F9;
}

.cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #f5f2f5;
}

dl.mini dt {
	color: #584f58;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #502f57;
	border-right-color: #502f57;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #dd7f5d;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #b9b2b9;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #9b7f97;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

label {
	color: #584f58;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #f2f2f3;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #333333;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(158, 93, 158,  0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border-color: #bcb8bb;
	color: #333333;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #9e5d9e;
}

.inputbox:focus {
	border-color: #9e5d9e;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #000;
	background-color: #EFEFEF; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #D2D2D2 0%, #EFEFEF 100%);
	background-image: linear-gradient(to bottom, #D2D2D2 0%,#EFEFEF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2D2D2', endColorstr='#EFEFEF',GradientType=0 ); /* IE6-9 */
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #53285d;
	color: #53285d;
	background-color: #D2D2D2; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #EFEFEF 0%, #D2D2D2 100%);
	background-image: linear-gradient(to bottom, #EFEFEF 0%,#D2D2D2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFEFEF', endColorstr='#D2D2D2',GradientType=0 ); /* IE6-9 */
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #9e5d9e;
	color: #5d3956;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #FFFFFF;
	border-color: #999999;
}
.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #e8dde6;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #faf6f9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #faf6f9 0%, #dfd6de 100%);
	background-image: linear-gradient(to bottom, #faf6f9 0%,#dfd6de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf6f9', endColorstr='#dfd6de',GradientType=0 ); /* IE6-9 */
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #FFF transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #faf6f9 transparent;
}

.dropdown .dropdown-contents {
	background: #fff;
	border-color: #B9B9B9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #675b65;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #53285d;
}

.badge {
	background-color: #53285d;
	color: #ffffff;
}

/* CILFA CODE voor advertisment managament achtergrondkleur */
.phpbb-ads-center {
	background-color: #F5F5F5;
	padding: 3px 3px;
}
